<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>EMPTY</string>
		<key>questions</key>
		<integer>0</integer>
		<key>mediumQ</key>
		<integer>0</integer>
		<key>hardQ</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>points</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
